<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hamburg.walter">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.MainMenuFragment"
            android:label="@string/MainMenu" />
        <activity android:name=".fragments.ExitGameFragment"
            android:label="@string/dialog_exit"/>
        <activity android:name=".fragments.NewGameFragment"
            android:label="@string/newGame"/>
        <activity android:name=".fragments.FriendsAddNewFragment"
            android:label="@string/friends"/>
        <activity android:name=".fragments.GameSettingsFragment"
            android:label="@string/gameSettings"/>
        <activity android:name=".fragments.ExistingGamesFragment"
            android:label="@string/existingGame"/>
        <activity android:name=".fragments.JoinGameFragment"
            android:label="@string/joinGame"/>
    </application>

</manifest>